@import "./variables.scss";

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

//position

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

// text align

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

//cursor type

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-text {
  cursor: text;
}

//text-transform

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.m-auto {
  margin: auto;
}

@for $i from 0 through 100 {
  //margin
  .m-#{$i} {
    margin: 1rem * $i/4;
  }
  .mt-#{$i} {
    margin-top: 1rem * $i/4;
  }
  .mb-#{$i} {
    margin-bottom: 1rem * $i/4;
  }
  .ml-#{$i} {
    margin-left: 1rem * $i/4;
  }
  .mr-#{$i} {
    margin-right: 1rem * $i/4;
  }
  .mx-#{$i} {
    margin-right: 1rem * $i/4;
    margin-left: 1rem * $i/4;
  }
  .my-#{$i} {
    margin-top: 1rem * $i/4;
    margin-bottom: 1rem * $i/4;
  }

  //padding
  .p-#{$i} {
    padding: 1rem * $i/4;
  }
  .pt-#{$i} {
    padding-top: 1rem * $i/4;
  }
  .pb-#{$i} {
    padding-bottom: 1rem * $i/4;
  }
  .pl-#{$i} {
    padding-left: 1rem * $i/4;
  }
  .pr-#{$i} {
    padding-right: 1rem * $i/4;
  }
  .px-#{$i} {
    padding-right: 1rem * $i/4;
    padding-left: 1rem * $i/4;
  }
  .py-#{$i} {
    padding-top: 1rem * $i/4;
    padding-bottom: 1rem * $i/4;
  }

  //top  bottom left right
  .top-#{$i} {
    top: 1rem * $i/4;
  }

  .bottom-#{$i} {
    bottom: 1rem * $i/4;
  }

  .right-#{$i} {
    right: 1rem * $i/4;
  }

  .left-#{$i} {
    left: 1rem * $i/4;
  }

  // height and width

  .h-#{$i} {
    height: 1rem * $i/4;
  }

  .w-#{$i} {
    width: 1rem * $i/4;
  }

  .min-h-#{$i} {
    min-height: 1rem * $i/4;
  }

  .min-w-#{$i} {
    min-width: 1rem * $i/4;
  }

  .-m-#{$i} {
    margin: -1rem * $i/8;
  }
  .-mt-#{$i} {
    margin-top: -1rem * $i/8;
  }
  .-mb-#{$i} {
    margin-bottom: -1rem * $i/8;
  }
  .-ml-#{$i} {
    margin-left: -1rem * $i/8;
  }
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

// z - index

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}

// shadow

.shadow-lg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.shadow-md {
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
}

// color

.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-green {
  color: $green;
}
.text-yellow {
  color: $yellow;
}
.text-violet {
  color: $violet;
}

// background color

.bg-white {
  background: $white;
}
.bg-black {
  background: $black;
}
.bg-green {
  background: $green;
}
.bg-yellow {
  background: $yellow;
}
.bg-violet {
  background: $violet;
}

//font-weight

.text-xxl {
  font-size: $text-xxl;
}
.text-xl {
  font-size: $text-xl;
}
.text-lg {
  font-size: $text-lg;
}
.text-md {
  font-size: $text-md;
}
.text-base {
  font-size: $text-base;
}
.text-sm {
  font-size: $text-sm;
}
.text-xs {
  font-size: $text-xs;
}
.text-xxs {
  font-size: $text-xxs;
}
.text-xxxs {
  font-size: $text-xxxs;
}

// different  text font weight

.font-black {
  font-weight: $font-black;
}
.font-extrabold {
  font-weight: $font-extrabold;
}
.font-bold {
  font-weight: $font-bold;
}
.font-semibold {
  font-weight: $font-semibold;
}
.font-medium {
  font-weight: $font-medium;
}
.font-normal {
  font-weight: $font-normal;
}
.font-light {
  font-weight: $font-light;
}
.font-extralight {
  font-weight: $font-extralight;
}
.font-thin {
  font-weight: $font-thin;
}

//font-family

.bourgeois {
  font-family: Bourgeois;
}
