@font-face {
  font-family: "Bourgeois";
  src: url("./Bourgeois/Bourgeois-MediumCondensedItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: Bourgeois;
}
